3; levels

1; # parts for player
3; player engine glow
10,0,0;
1>4; addresses
0; player body
0; address

4; number of player powerups
1; powerup 1
0,0,0; number of bullets, address, power, rate of fire
90,30,100,30; coords

2; powerup 2
0,0,0;
90,23,100,23
0,0,0;
90,37,100,37

3; powerup 3
0,0,0;
90,30,100,30
0,0,0
111,15,119,15
0,0,0
111,44,119,44

5; poweup 4
0,0,0
90,30,100,30
0,0,0
111,15,119,15
0,0,0
111,44,119,44 
1,0,0
102,03,112,03
1,0,0
102,56,112,56

2; # of drops
30,60,90; dropSeed for easy/normal/hard

1; PARTS OF POWERUP
3; PART 1 GLOW FRAMES
10,0,0; HOLD, LOOP, REVERSE
0>3; addresses
0; PART 2 BODY FRAMES
4; address

1; PARTS OF CASH SMALL
3; PART 1 GLOW FRAMES
10,0,0; HOLD, LOOP, REVERSE
10>13; addresses
0; PART 2 BODY FRAMES
14; address

level1.config; config files for each level
level2.config
level3.config
level4.config
level5.config
level6.config
level8.config


