15,12; Backgrounds total, and loop backgrounds at

3; Number of enemies
260,160,100; enemy generation seed
200,100,80; enemy fire generation seed
0,0,0,1; hit points easy
0,0,1,1; hit points normal
0,1,1,1; hit points hard; next background graphics file, enemy graphics file, boss config file, boss graphics file

1; # of PARTS
3; ENEMY 1 GLOW
10,0,1;
1>4; address
0; fires
0; ENEMY 1 BODY
0; address
1; fires
0,80,200
5,24,1,24;

1; # of PARTS
3; ENEMY 2 GLOW
10,0,1;
6>9; address
0; doesnt fire
0; ENEMY 2 BODY
5; address
1; fires 1 bullets
1,80,200
2,8,0,8

1; # of PARTS
3; ENEMY 3 GLOW
10,0,1;
11>14; address
0; doesnt fire
0; ENEMY 3 BODY
10; address
2; fires
2,120,200
2,7,0,7
2,120,200
2,63,0,63



