15,12; Backgrounds total, and loop backgrounds at

4; Number of enemies
260,160,100; enemy generation seed
200,100,80; enemy fire generation seed
0,0,0,1; hit points easy
0,0,1,1; hit points normal
0,1,1,1; hit points hard; next background graphics file, enemy graphics file, boss config file, boss graphics file

1; # of PARTS
3; ENEMY 1 GLOW
10,0,1;
1>4; address
0; fires
0; ENEMY 1 BODY
0; address
1; fires
0,80,200
19,26,9,26;

1; # of PARTS
3; ENEMY 2 GLOW
10,0,1;
6>9; address
0; doesnt fire
0; ENEMY 2 BODY
5; address
3; fires 1 bullets
1,80,200
22,28,12,28
1,80,200
22,28,6,22
1,80,200
22,28,6,34;

1; # of PARTS
3; ENEMY 3 GLOW
10,0,1;
11>14; address
0; doesnt fire
0; ENEMY 3 BODY
10; address
2; fires
2,120,200
6,44,1,44
2,120,200
6,103,1,103

1; # OF PARTS
3; ENEMY 4 GLOW
10,0,1;
16>19; address
0; fires
0; ENEMY 4 BODY
15; address
3; fires 
3,100,300
4,44,1,44
4,100,300
4,44,0,42 
5,100,300
4,24,0,26

